<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.impact.tripble">

    <uses-sdk android:maxSdkVersion="10"
                    android:targetSdkVersion="28"/>
    <uses-feature android:name="android.hardware.nfc"
                        android:required="false"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBhRVQCCmLjMFvjcFwTWwTkFjZPdPhJSL0"/>
        <activity android:name=".Startscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".GeofenceRegistrationService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".select_HostUser" android:theme="@style/AppTheme" />
        <activity android:name=".InitWindowInfo" android:theme="@style/AppTheme"/>
        <activity android:name=".CreateMission" android:theme="@style/AppTheme"/>
        <activity android:name=".setGroup" android:theme="@style/AppTheme"/>
        <activity android:name=".setHost" android:theme="@style/AppTheme"/>
        <activity android:name=".setMission" android:theme="@style/AppTheme"/>
        <activity android:name=".GEOMain" android:theme="@style/AppTheme"/>
        <activity android:name=".ViewFlipperMain" android:theme="@style/AppTheme"/>
        <activity android:name=".NFC" android:theme="@style/AppTheme"/>
        <activity android:name=".bluetooth" android:theme="@style/AppTheme"/>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".QRcode" android:theme="@style/AppTheme"/>
        <activity android:name=".Gifticon" android:theme="@style/AppTheme"/>
        <activity android:name=".Profile" android:theme="@style/AppTheme"/>
        <activity android:name=".Mission_list" android:theme="@style/AppTheme"/>
        <activity android:name=".NFC_NoBluetooth" android:theme="@style/AppTheme"/>
        <activity android:name=".offline" android:theme="@style/AppTheme"/>
    </application>


</manifest>